.card-body{
    
    border: 1px solid #f8f9fa;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width:247px;
    height:107px;
}

.card{
    display: inline-flex;
    flex-direction: row;
    border:none;
}
.container{
    margin:10px;
    padding:10px;
}